<h1><%= @recipe.name %></h1>
<p>Complexity: <%= @recipe.complexity %></p>
<p>Genre: <%= @recipe.genre %></p>

<h2>Ingredients List</h2>
<% @recipe_ingredients.each do |ingred| %>
  <p><%= ingred.name %></p>
<% end %>
<h3>Total Cost of Ingredients: <%= @total_cost %></h3>

<%= form_with url: "/recipes/#{@recipe.id}", method: :patch, local: true do |f| %>
  <%= f.label :name, "Add Ingredient" %>
  <%= f.text_field :name %>
  <%= f.submit "Add" %>
  <% end %>
