<h1><%= "#{@recipe.name}" %></h1>
<p><%= "Complexity: #{@recipe.complexity}" %></p>
<p><%= "Genre: #{@recipe.genre}" %></p>
<ul><p><%= "Ingredients:" %></p>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<h4><%= "Total Cost: #{@recipe.ingredients.total_cost}" %></h4>