<h1>Recipes</h1>

<%= @recipe.name %>
<%= @recipe.complexity %>
<%= @recipe.genre %>

<h2>Ingredients</h2>
<p>
<%= @ingredients.each do |ingredient| %>
  <%= ingredient.name %>
  <% end %>
</p>
<br>
<h3>Total Cost</h3>
<p>Total Cost: <%= @total_cost %></p>

