<section><h1>Recipes</h1>
  <h3><%=@recipe.name %></h3>
  <p>Complexity: <%= @recipe.complexity %></p>
  <p>Genre: <%= @recipe.genre %></p>
</section>

<section>
  <h4>Ingredients</h4>
  <p><% @ingredients.each do |ingredient| %></p>
  <p><%= ingredient.name %></p>
  <% end %>
</section>

<div>
  <p>Total Cost:<%= @ingredients.sum { |i| i.cost } %></p>
</div>


<h1>New Ingredients</h1>
<%= form_with url: "/recipes/#{@recipe.id}", method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>


  <%= f.submit "Submit Ingredient" %>
<% end %>
