<h1><%= @recipe.name %></h1>
<p><strong>Complexity: </strong><%= @recipe.complexity %></p>
<p><strong>Genre: </strong><%= @recipe.genre %></p>

<h3>Ingredients</h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li>Name: <%= ingredient.name %></li>
    <li>Cost: $<%= ingredient.cost %>.00</li>
    <br>
  <% end %>
</ul>
<p><strong>Total Cost: $</strong> <%= @total_cost %>.00</p>
