<h1> Recipe Name: <%= @recipe.name%> </h1><br>
<h2> Recipe Complexity: <%= @recipe.complexity%> </h2><br>
<h2> Genre: <%= @recipe.genre %> </h2><br>

<h3> Ingredients List: </h3><br>
<% @ingredients.each do |ingredient| %>
  <ul>
    <li> <%= ingredient.name%></li>
  </ul>
<% end %>

<p><i>Total cost for all ingredients: <%= @recipe_cost %></i></p>

<h3> Add an ingredient to this recipe: </h3>
<%= form_with url: "/recipes/#{@recipe.id}", method: :post, local: true do |form| %>
  <%= form.label :ingredient_id, "Ingredient ID" %>
  <%= form.number_field :ingredient_id %>
  <%= form.submit "Submit" %>
<% end %>
