<div id="recipe-<%= @recipe.id %>">
<h1>Recipe Info Page</h1>
  <p>Name: <%= @recipe.name %></p>
  <p>Complexity: <%= @recipe.complexity %></p>
  <p>Genre: <%= @recipe.genre %></p>
  <br>
  <h2>Ingredients:</h2>
  <ul>
  <% @ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  </ul> 
    <% end %>
  <p> Total Cost of All Ingredients: $ <%= @total_cost %></p>
  </div>