<h1> Recipes </h1>



  <p>Recipe Name: <%= @recipes.name %></p>
  <p>Complexity: <%= @recipes.complexity %></p>
  <p>Genre: <%= @recipes.genre %></p>

  
  <ul>
    <h3> Ingredients </h3>
    <% @recipes.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %> </li>
    <% end %>
    <p> Total Cost: <%= @recipes.ingredients.total_cost %></p>
  </ul>