<h1><%= @recipe.name %></h1>
  <p> Complexity(1-10): <%= @recipe.complexity %> </p>
  <p> <%= @recipe.genre %> </p>
  <p> <% @recipe_ingredients.each do |ingredient| %> </p>
    <p> <%= ingredient.name %> </p>
    <% end %>

    <p> Total Cost: <%= @recipe_ingredients.sum(:cost)%> </p>